/*****************************************
====   1) GENERAL STYLES
*****************************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

a:hover {
	opacity: 1;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}

@media (max-width: 600px) {
	section {
		padding: 80px 30px;
	}
}
/*****************************************
====   2) HEADER & NAVBAR
*****************************************/

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #555;
	padding: 35px 100px 30px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

header h2 {
	font-family: 'Quicksand', sans-serif;
}

header nav {
	display: flex;
}

header nav li {
	margin: 0 15px;
}

header nav li:first-child {
	margin-left: 0;	
}

header nav li:last-child {
	margin-right: 0;	
}

@media (max-width: 1000px) {
	header {
		padding: 20px 50px;
	}
}

@media (max-width: 700px) {
	header {
		flex-direction: column;		
	}

	header h2 {
		margin-bottom: 15px;
	}
}
/*****************************************
====   3) HERO SECTION
*****************************************/

.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: white;
    text-align: center;
}

.hero .background-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-image: url('../img/heroimg.jpg');
}

.hero h1 {
    font-weight: bold;
    font-size: 40pt;
    font-family: 'Quicksand', sans-serif;
}

.hero h3 {
    font-weight: bold;
    font-size: 24pt;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 2em;
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}
}

/*****************************************
====   4) ABOUT SECTION
*****************************************/

.about {
    background-color: #fff;
}

.about .grid li {
    height: 15em;
}

.about .grid li:first-child, .about .grid li:nth-child(2) {
    margin-top: 5em;
    margin-bottom: 5em;
}

.about .grid li.image {
    flex-basis: 10%;
    margin-right: 2em;
}

li.image>div.context {
    height: 12em;
    width: 12em;
}

div.context>img {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.quote {
    display: none;
    position: relative;
    bottom: 50%;
    text-align: center;
    color: white;
    font-family: cursive;
    background-color: rgba(0, 0, 0, 0.4);
}

.about .grid li.text {
    flex-basis: 75%;
}
/* very intuative way of doing social icons */
.social {
    display: inline-block;
    background-image: url(../img/socialicons.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 20px 10px 0px 0px;
}

.social.l {
    background-position: 0px 0px;
}

.social.l:hover {
    background-position: 0px -30px;
}

.social.f {
    background-position: -30px 0px;
}

.social.f:hover {
    background-position: -30px -30px;
}

.social.t {
    background-position: -60px 0px;
}

.social.t:hover {
    background-position: -60px -30px;
}

.social.p {
    background-position: -90px 0px;
}

.sociali.p:hover {
    background-position: -90px -30px;
}

.social.d {
    background-position: -120px 0px;
}

.social.d:hover {
    background-position: -120px -30px;
}

/*
	FOR SMALLER SCREENS, EVERYTHING FULL WIDTH
*/
@media (max-width: 1000px) {
    .about .grid li.image, .about .grid li.text {
        flex-basis: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .about .grid li.text {
        margin-bottom: 5em;
    }
    .about .grid li.image {
        margin-bottom: -1em;
    }
    div.context {
        margin: 0 auto;
    }
}

/*****************************************
====   5) BLOG
*****************************************/

section.blog {
    background-color: rgba(0, 0, 0, 0.1);
}

li.row {
    flex-basis: 100%;
}

article.post {
   width: 75%;
   margin-left: 12.5%;
   padding: 2em;
   border-bottom: 1px solid rgba(0,0,0,0.2);
}

article.post>img {
    width: 60%;
    margin-left: 20%;
    height: auto;
}

.post-title {
    font-size: 1.2em;
    font-weight: bold;
}

.post-author {
    font-size: 1.1em;
    font-style: italic;
}

.post-snippet {
    font-style: italic;
    color: #666;
}

.call {
    margin-top: 1em;
}

.default {
    display: block;
    padding-top: 2em;
}

.post-content {
    display: none;
}

/*****************************************
====   6) GALLERY
*****************************************/

section.gallery {
    background-color: white;
}

div.wrapper {
    width: 100%;
	height: 100%;
  	display: flex;
  	flex-flow: column nowrap;
  	margin: 0 auto;
    margin-top: 5em;
}

div.row {
    display: flex;
    flex-flow: row nowrap;
  	width: 100%;
  	height: 100%;
  	margin: 0 auto;
    flex: 0.001 2 33%;
    transition: flex 0.3s ease;
}

div.img {
    height: 500px;
    width: 300px;
    margin: 2px;
    flex: 0.001 2 33%;
  	border: 1px solid #dddddd;
  	box-sizing: border-box;
    transition: flex 0.3s ease;
    background-image: url('http://placehold.it/500x300');
}

div.img:hover {
    flex: 1 1 90%;
    background-size: 100% 100%;
}

/*****************************************
====   7) CONTACT
*****************************************/

section.contact {
    background-color: rgba(0, 0, 0, 0.1);
}

.contact>form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5em;
}

label {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
}

input, textarea {
    padding: 1em;
    flex-basis: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    color: #444;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 2em;
}

input:active, textarea:active {}

a.submit {
    background-color: #77DD77;
    border: 1px solid #55BB55;
    flex-basis: 100%;
    text-align: center;
    color: white;
    margin-bottom: 2em;
}
